@font-face {
  font-family: 'NimbusSanTConBold';
  src: url("../style/fonts/NIMBSTB.TTF") format('truetype');
}

@font-face {
  font-family: 'HelveticaNeueCyr-Black';
  src: url("../style/fonts/HelveticaNeueCyr-Black.otf") format('truetype');
}

@font-face {
  font-family: 'HelveticaNeueCyrThin';
  src: url("../style/fonts/HelveticaNeueCyr-Thin.otf") format('truetype');
}

@font-face {
  font-family: 'ArialMT';
  src: url("../style/fonts/ArialMT.otf") format('truetype');
}

@font-face {
  font-family: 'HelveticaNeueCyr-Bold';
  src: url("../style/fonts/HelveticaNeueCyr-Bold.otf") format('truetype');
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  color: inherit;
}

.main-section {
  background-image: url("../style/img/background1.png");
  height: 870px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  border-bottom: 4px solid #e46107;
  overflow: hidden;
}

.logo {
  height: 181px;
  width:315px;
  margin-top: 17px;
  background-image: url("../style/img/logo_ellipse.png");
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-image {
  display: block;
  margin-top: 34px;
}

.main-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("../style/img/shadow_ellipse.png");
  background-repeat: no-repeat;
  background-size: 1778px 290px;
  background-position: top;
}

.line-img-block {
  text-align: center;
  position: relative;
  z-index: 1;
}

.line-img {
  margin-top: -10px;
}

.nav-begin, .nav-end {
  display: flex;
  justify-content: center;
}
.nav-list {
  display: flex;
}

.nav-item {
  font-family: NimbusSanTConBold;
  color: #ffffff;
  font-size: 19px;
  font-weight: 400;
  line-height: 40px;
  list-style-type: none;
  padding: 15px 13px;
  margin-top: -24px;
}

.nav-item:hover {
  background-color: #e46107;
  border-radius: 5px;
}

.main-info-title {
  display: block;
  font-family: HelveticaNeueCyr-Black;
  text-shadow: 0 0 6px rgba(31, 88, 0, 0.75);
  color: #f1f2f5;
  font-size: 68px;
  font-weight: 400;
  line-height: 65px;
  text-align: center;
  margin-top: 47px;
}

.about-company {
  margin: 20px;
  max-width: 960px;
  border-radius: 5px;
  background-color: rgba(38, 49, 28, .7);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 19px 45px;
}

.title {
  font-family: HelveticaNeueCyrThin;
  color: #f1f2f5;
  font-size: 34px;
  line-height: 40px;
  margin: 10px 0;
  letter-spacing: 0.5;
}

.text-info {
  font-family: ArialMT;
  color: #ffffff;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  margin-bottom: 10px;
  letter-spacing: 0.5;
}

.products-information {
  background-color: #26311c;
  height: 680px;
  display: flex;
  justify-content: center;
}

.info-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: -110px;
  position: relative;
}

.cards1 {
  display: flex;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 307px;
  width: 100%;
}

.cards-image {
  border-radius: 50%;
  border: 4px #ffffff solid;
}

.card-description {
  text-align: center;
}

.card .title {
  display: block;
  margin-top: 38px;
  font-weight: 700;
}

.learn-more-btn {
  width: 164px;
  height: 56px;
  border-radius: 5px;
  border: 2px solid #a1ad97;
  background-color: #26311c;
  font-family: NimbusSanTConBold;
  font-size: 19px;
  font-weight: 400;
  line-height: 40px;
  color: #ffffff;
}

.learn-more-btn:hover {
  border: 2px solid #8dc705;
  color: #8dc705;
}

.cards2 {
  display: flex;
  margin-top: 38px;
}

.benefits-information {
  display: flex;
  justify-content: center;
  height: 540px;
  background-image: url("../style/img/background2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-bottom: 2px solid #8dc705;;
}

.benefits-info-container {
  max-width: 1050px;
  width: 100%;
}

.benefits-info-text {
  margin: 0px 60px 90px;
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.benefits-info-text .title {
  color: #000000;
}

.benefits-span {
  display: block;
  font-family: HelveticaNeueCyr-Bold;
  font-size: 54px;
  font-weight: 700;
  color: #48890a;
  margin-top: 10px;
}

.text-benefits {
  margin-top: 20px;
  max-width: 432px;
  color: #000000;
  font-family: ArialMT;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
}

.benefits-info-text .learn-more-btn {
  background-color: rgba(255, 255, 255, 0);
  color: #48890a;
  border: 2px solid #48890a;
  margin: 25px 0px;
}

.benefits-info-text .learn-more-btn:hover {
  border: 2px solid #000000;
  color: #000000;
}

.nav-end {
  height: 65px;
}

.nav-end .nav-item {
  color: #7b7b7b;
  margin-top: 0;
}

.nav-end .nav-item:hover {
  background-color: rgba(255, 255, 255, 0);
  color: #8dc705;
}

.footer {
  height: 66px;
  background-color: #e4e4e4;
  display: flex;
  justify-content: center;
}

.footer-info {
  display: flex;
  max-width: 1070px;
  width: 100%;
  justify-content: space-between;
  margin: 25px 10px;
}

.rights-text, .dev-text {
  color: #919191;
  font-family: ArialMT;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}

.footer-info .rights-text {
  margin-right: 30px;
}

@media (max-width: 768px) {

  .main-section {
    height: auto;
  }

  .line-img-block {
    visibility: hidden;
  }

  .main-info {
    background-image: none;
    width: 95%;
  }

  .nav-list {
    flex-wrap: wrap;
    justify-content: center;
  }

  .nav-item {
    font-size: 21px;
    line-height: 28px;
    padding: 15px 29px;
    margin-top: -9px;
  }

  .main-info-title {
    margin-top: 20px;
    font-size: 44px;
    line-height: 46px;
  }

  .title {
    font-size: 27px;
  }

  .about-company {
    text-align: center;
  }

  .products-information {
    height: auto;
  }

  .info-cards {
    position: initial;
    top: 0;
  }

  .cards1, .cards2{
    flex-direction: column;
  }

  .card {
    padding: 25px 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
 
  }

  .cards2 {
    margin-top: 0px;
  }

  .cards-image {
    margin: 0 15px;
  }

  .card-description {
    margin: 0 10px;
  }

  .learn-more-btn {    
    font-size: 25px;
    font-weight: 400;
    margin-top: 20px;
  }

  .benefits-information {
    background-position: left;
    background-position-x: -309px;
    height: auto;
  }

  .nav-end {
    height: auto;
  }

  .footer {
    height: auto;
  } 
}

@media (min-width: 769px) and (max-width: 920px) {
  .main-info-title {
    width: 80%;
  }

  .about-company {
    width: 80%;
    padding: 19px 7px;
  }

  .card {
    min-width: 259px;
  }
}